<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>TheHotelProject</display-name>
  <servlet>
  	<servlet-name>restaurant</servlet-name>
  	<servlet-class>com.namaste.controller.ChooseFoodServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>restaurant</servlet-name>
  	<url-pattern>/chooseSet</url-pattern>
  </servlet-mapping>
  
  <servlet>
	<servlet-name>restaurantOrder</servlet-name>
<servlet-class>com.namaste.controller.ReadOrderServlet</servlet-class>
</servlet>

<servlet-mapping>
<servlet-name>restaurantOrder</servlet-name>
<url-pattern>/readOrder</url-pattern>
</servlet-mapping>
</web-app>